.nav-tabs .nav-link.active,
.list-group-item.active {
  color: #fff;
  background-color: #007cb3;
  font-weight: bold;
  border-color: #fff;
}

.nav-tabs .nav-link:hover,
.list-group-item:hover {
  font-weight: bold;
}

.btn-secondary:not(:disabled):not(.disabled).active {
  background-color: #007cb3;
}

.btn-secondary:not(:disabled):not(.disabled).active.output {
  background-color: #3faf46;
}
